<div class="container">
  <h1>Search Results</h1>
  <div class="jumbotron">
    <div class="results">
      <% @results.each do |b| %>
      <h3><%= b.name %> <%= link_to "See Details", business_path(b.yelp_id), class: "btn btn-family" %></h3>
      <ul>
        <li><%= b.address %></li>
        <li><%= b.phone %></li>
        <li>Average Yelp Rating: <%= b.star_rating %> Stars</li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
