<h1>Search Results</h1>

<%= @results.businesses.each do |b| %>
  <h3><%= b.name %></h3>
    <ul>
      <li><%= b.location.display_address %></li>
      <li><%= b.phone %></li>
      <li>Average Yelp Rating: <%= b.rating %> Stars</li>
    </ul>
<% end %>
