<div class="container">
  <h1>Search Results</h1>
  <div class="jumbotron">
    <div class="results">
      <% @results.each do |b| %>
      <h3><%= b.name %><%= link_to "See Details", business_path(b.yelp_id), class: "btn btn-family" %></h3>

      <table class="table striped">
        <tr>
          <td>
            <p>
              <%= b.street %>
              <br>
              <%= b.city %>, <%= b.state %> <%= b.zip_code %>
            </p>
          </td>
        </tr>
      </table>
      <br />
      <% end %>
    </div>
  </div>
</div>
