<div class="container">
  <h1>Add to Your Family Friendly Profile...</h1>
  <div class="jumbotron">

    <%= form_for [:users, @family] do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id  %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :age %>
      <%= f.text_field :age %>

      <%= f.submit "Add Family Member", class: "btn btn-family" %>
    <% end %>

  </div>
</div>
