<div class="container">
  <h1>Add your Family Friendly Review for <%= @review_object.business.name %></h1>
  <div class="jumbotron">

    <%= form_for @review_object.review, url: business_reviews_path(@review_object.business)  do |f| %>
    <h3>Check the box if the Amenity is Available at <%= @review_object.business.name %></h3>
    <table class="table">

      <%= hidden_field_tag "business[amenity_ids][]", nil %>
      <% @review_object.amenities.each do |amenity| %>
      <tr>
        <td>
          <div class="field">
              <%= check_box_tag "business[amenity_ids][]", amenity.id, false, id: dom_id(amenity) %>
              <%= label_tag dom_id(amenity), amenity.amenity_name %>
              <% end %>
          </div>
        </td>
      </tr>
    </table>


      <div class="rating">
        <h3>How Many Stars for Family Friendliness do you give to <%= @review_object.business.name %>?
        </h3>

          <%= f.radio_button(:family_rating, 1) %>
            <%= label(:review_family_rating, '1') do %>
            <span class="rating_star" data-stars-id="1" data-business-id="<%= @review_object.business.id %>" id='<%= "#{@review_object.business.id}_1" %>'></span>
            <% end %>

          <%= f.radio_button(:family_rating, 2) %>
            <%= label(:review_family_rating, '2') do %>
            <span class="rating_star" data-stars-id="2" data-business-id="<%= @review_object.business.id %>" id='<%= "#{@review_object.business.id}_2" %>'></span>
            <% end %>

          <%= f.radio_button(:family_rating, 3) %>
            <%= label(:review_family_rating, '3') do %>
            <span class="rating_star" data-stars-id="3" data-business-id="<%= @review_object.business.id %>" id='<%= "#{@review_object.business.id}_3" %>'></span>
            <% end %>

          <%= f.radio_button(:family_rating, 4) %>
            <%= label(:review_family_rating, '4') do %>
            <span class="rating_star" data-stars-id="4" data-business-id="<%= @review_object.business.id %>" id='<%= "#{@review_object.business.id}_4" %>'></span>
            <% end %>

          <%= f.radio_button(:family_rating, 5) %>
            <%= label :review_family_rating, '5' do %>
            <span class="rating_star" data-stars-id="5" data-business-id="<%= @review_object.business.id %>" id='<%= "#{@review_object.business.id}_5" %>'></span>
            <% end %>
      </div>

      <table class="table">
        <h3>Any Comments to add and share?</h3>
        <tr>
          <td>
            <%= f.text_area :comments, :placeholder => "Add your comments here..." %>
          </td>
        </tr>
      </table>

    <%= f.submit class: 'btn btn-family' %>
    <% end %>
